.download-button {
  background-color: #1976d2;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
}
.button-div {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.table-header {
  font-weight: 550 !important;
  font-size: 18px !important;
}

.user-info {
  font-weight: 400 !important;
  font-size: 16px !important;
}
